body{
  background-color: gainsboro;  
}
.table{
    font-size: 30px;
    border-radius: 3px;
    background-color: white;
    border-collapse: collapse;
}
.p{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}